<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include header.html %}
  <body>
    <div class="wrapper">
      <header>
        {% assign current_collection = site.collections | where: "label", page.collection | first %}
        <div class="center">
          {% include logo-title.html %}
          <h3><a href="{{ "/" | absolute_url }}{{ page.collection }}">for {{ current_collection.version }}</a></h3>
        </div>
        <div id="navcontainer">
          {% include navigation.html max_depth=2 %}
        </div>
        <br />
      </header>
      <section>
        {{ content }}
        <div class="right">{% github_edit_link "> Improve this page" %}</div>
      </section>
    </div>
    {% include google-analytics.html %}
  </body>
</html>
