<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include header.html %}
  <body>
    <div class="wrapper">
      <header>
        {% assign current_collection = site.collections | where: "label", page.collection | first %}
        <div class="center">
          {% include logo-title.html %}
          <h3 class="no-anchor"><a href="{{ "/" | absolute_url }}{{ page.collection }}">for {{ current_collection.version }}</a></h3>
        </div>
        <div id="navcontainer">
          {% include navigation.html max_depth=3 selected_docs=current_collection.docs %}
        </div>
        <br />
      </header>
      <section>

        {{ content }}

        <div class="right">
          <p id="last_update_datetime"></p>

          {% comment %}
            Don't use "github_edit_link" to generate a URL to link to the github edit page. Because this variable does not include the path which is defined by "collections_dir". 
          {% endcomment %}
          <a href="{{ site.github.repository_url }}/edit/master/{{site.collections_dir}}/{{ page.relative_path }}">> Improve this page</a>

        </div>

      </section>
    </div>
    {% include google-analytics.html %}
  </body>
  <script type="text/javascript" src="{{ "/" | absolute_url }}/assets/js/getLastUpdateDate.js" page_path="{{page.path}}"></script>
  <script type="text/javascript" src="{{ "/" | absolute_url }}/assets/js/addAnchorLinkToHeader.js"></script>
  <script>


  </script>
</html>
